.embla{
    overflow: hidden;
}

.emblacontainer{
    display: flex;
}

.emblaslide{
    position: relative;
    min-width: 100%;
    z-index: 1;
}

.emblaslide img{
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
}