.content-e {
    flex: 1;
}

.elec-e {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-e{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-electro-e{
    margin-left: 4%;
    margin: 0 auto;
    max-width: 1200px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80vh;
    padding: 2rem;
    text-align: left;
}

.content-electro-e h2{
    border-bottom: 6px solid #FFB300;
}

.item-e{
    margin-left: 6%;
}
.imagenes-e{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 35%;
    margin-right: 4%;
}
.imagenes-e img{
    width: 100%; 
    max-width: 500px;
    min-width: 250px;
}

@media (max-width: 800px) {
    .container-e {
        justify-content: center;
        align-items: center; /* Centrar el contenido */
        margin: 0;
    }

    .content-electro-e {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        margin: 0;
    }

    .imagenes-e {
        display: flex;
        flex-wrap: wrap; 
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .imagenes-e img {
        min-width: 250px;
        width: 100%;
        border-radius: 8px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}